.container
  %h1.inline= @coderoom.name
  %button.btn.btn-primary.inline#run_script Run Script!
  %button.btn.btn-danger.inline#clear_output Clear Output
  = render @coderoom.whiteboards

= javascript_include_tag 'coderooms/show'
= javascript_include_tag 'cable'