.code_container{id: whiteboard.id}
  %textarea.code{rows: 20}= whiteboard.content

%input{type: 'hidden', class: 'user', id: current_user.id}

%button.btn.btn-default#run_script Run Script!

%p#output